{% extends 'base.html' %}
{% block head_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
{{ super() }}
{% endblock %}
{% block head_js %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
crossorigin=""></script>
{% endblock %}
{% block content %}

<form method="post">

  <fieldset>
    
    <legend>Add Device</legend>

    <label for="device_hostname">Device name:</label>
    <input type="text" id="device_hostname" name="device_hostname"> <br />

    <label for="site_name">Site:</label>
    <input type="text" id="site_name" name="site_name"><br />

  </fieldset>
  <button type="submit" name="submit" value="Add">Add!</button>


</form>
  
{% endblock %}