{% extends 'base.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
crossorigin=""/>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block head_js %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
crossorigin=""></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
crossorigin=""></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
crossorigin=""></script>
<script src="{{url_for('static',filename='/appbuilder/js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#object-table').DataTable({
          scrollCollapse: true,
          paging: true,
          destroy: true,
        });
    });
    
</script>
    
{% endblock %}

  {% block content %}
    <div id="map" style="background-color:green;height:800px;width: 100%;z-index: 1;"></div>

    <script type="text/javascript">

const svgIcon = L.divIcon({
  html: `
<svg width="32" height="35" viewBox="0 0 32 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_dd_2179_49776)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.6042 24.284C26.2881 22.0833 28.0005 18.7416 28.0005 15C28.0005 8.37258 22.6279 3 16.0005 3C9.37307 3 4.00049 8.37258 4.00049 15C4.00049 18.7188 5.6921 22.0425 8.34782 24.2436C8.50264 24.4437 8.67184 24.6362 8.85543 24.8198L11.7539 27.7183C14.0971 30.0614 17.8961 30.0614 20.2392 27.7183L23.0939 24.8636C23.2786 24.679 23.4486 24.4853 23.6042 24.284Z" fill="white"/>
</g>
<circle cx="16.0005" cy="15" r="7" fill="white" stroke="#154273" stroke-width="6"/>
<defs>
<filter id="filter0_dd_2179_49776" x="0.000488281" y="0" width="32" height="34.4756" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="1"/>
<feGaussianBlur stdDeviation="2"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2179_49776"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="1"/>
<feGaussianBlur stdDeviation="0.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_2179_49776" result="effect2_dropShadow_2179_49776"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_2179_49776" result="shape"/>
</filter>
</defs>
</svg>`,
  className: "",
  iconSize: [32, 35],
  iconAnchor: [16, 30],
});

      var stringToColour = function(str) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
                    hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            var colour = '#';
            for (var i = 0; i < 3; i++) {
                    var value = (hash >> (i * 8)) & 0xFF;
                    colour += ('00' + value.toString(16)).substr(-2);
            }
            return colour;
      }
      var selected_component;
      var map = L.map('map').setView([52.2, 5.4], 7);
      var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
      
        var baseMaps = {
          "OpenStreetMap": tiles
        };
      
        var overlayMaps = {
            
        };
        
        var marker_group = L.markerClusterGroup();
        
        var markers = {{markers|safe}}
        for (var i = 0; i < markers.length; i++) {
              var marker = L.marker([markers[i].latitude, markers[i].longtitude], {icon:svgIcon});
              
              marker.addTo(map);
              marker.bindPopup(markers[i].name);
        }
        var lines = {{lines|safe}}
      {% if color_strategy is defined%}
        var color_strategy = "{{color_strategy}}"
      {% else %}
      var color_strategy = "{{unique}}"
      {% endif %}
      function color_line(line){
        if (color_strategy == "unique"){
          return stringToColour(line)
        }else if (color_strategy == "type"){
          return get_connection_type_color(line)
        }
        else if (color_strategy == "single"){
          return "#0000FF"
        }
        // else if (color_strategy == "capacity"){
        //   return get_connection_type_color(x)
        // }
      }
      
      function get_connection_type_color(x){
        var line_color = "#35f0dd";
          if(lines[x].connection_type == "CE-CE"){
            line_color = "#2cfc03"
          }else if(lines[x].connection_type == "CE-PE"){
            line_color = "#2cfc03"
          }else if(lines[x].connection_type == "CE-P"){
            line_color = "#2cfc03"
          }
          else if(lines[x].connection_type == "PE-P"){
            line_color = "#fc3d03"
          }else if(lines[x].connection_type == "PE-PE"){
            line_color = "#fcdf03"
          }
          else if(lines[x].connection_type == "P-P"){
            line_color = "#fc3d03"
          }
          return line_color
      }
      
        for (var i = 0; i < lines.length; i++){
            
          var span = L.polyline(lines[i].path, {
                    //OPTIONS HERE
                    // weight:offset,
                    weight:7,
                    // color:stringToColour(x),
                    color:color_line(lines[i].span),
                    // color:"#333333"
    
                    // opacity: 0.50
                    
            });
          console.log(span)
          marker_group.addLayer(span);
          // span.addTo(map);
          // span.bindPopup(x)
                      
          // span.on('mouseover', function() {
          //             this.setStyle({
          //                     // weight: 15   //or whatever style you wish to use;
          //                     color:"#0020ec"
          //             });
          //             this.bringToFront();
          //     });
          // span.on('mouseout', function() {
          //             this.setStyle({
          //                     // weight: 7
          //                     // color:stringToColour(x)
          //                     color:color_line(span.span),
          //             })
      
          //     });
      
        }
        map.addLayer(marker_group)
        // var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);
        map.addControl(new L.Control.Fullscreen());
        
        
        </script>
</div>
{% endblock %}