{% extends 'base.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
crossorigin=""/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
crossorigin=""/>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block head_js %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
crossorigin=""></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
crossorigin=""></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
<script src="{{url_for('static',filename='/appbuilder/js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#object-table').DataTable({
          scrollCollapse: true,
          paging: false,
          destroy: true,
        });
    });
    
</script>
    
{% endblock %}
{% block content %}
    <div style="margin:20px; display: grid; grid: auto / 50% 50%">
    <button type="button" class="btn btn-primary" style="grid-column: 1/2;" onclick="$('.page-info').toggle('slow');">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </svg>
            What am i looking at?
      </button>
      <div class="page-info well" style="grid-column: 1/2; display: none;">
        {{page_info | safe}}
      </div>
      <!-- Map display -->
      <div style="grid-column: 1/2;">
      <div id="map" style="background-color:green; width: 100%; height:800px"></div>

      </div>
      <!-- table display -->
      <div style="grid-column: 2/2;">
        <table id="object-table">
            <thead><tr><td>{{table_header | safe}}</td></tr></thead>
            <tbody>
                {% for entry in entries %}
                <tr><td>{{entry | safe}}</td></tr>
                {% endfor %}

            </tbody>
        </table>
      </div>
  </div>

  <script type="text/javascript">     
    var map = L.map('map').setView([52.2, 5.4], 7);
    
    var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  
    var baseMaps = {
      "OpenStreetMap": tiles
    };
    
      var overlayMaps = {
          
      };
      
      var oms = new OverlappingMarkerSpiderfier(map, {keepSpiderfied: true});
      
      var markers = {{markers|safe}}
      for (var i = 0; i < markers.length; i++) {
            var marker = L.marker([markers[i].lat, markers[i].lon]);
            marker.addTo(map);
            oms.addMarker(marker)
            marker.bindPopup(markers[i].popup);
      }
      
      var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);
      map.addControl(new L.Control.Fullscreen());
      
      
      </script>
{% endblock %}
